.featured_main_container {
    background-color: #143324;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container1_featured{
    padding-left: 54px;
}

    .parallax-image {
        width: 200px;
        height: 200px;
        background-image: url('./images/black_composter_single.webp');
        background-size: contain; /* Use 'contain' instead of 'cover' */
        background-position: center;
        background-attachment: fixed;

        background-size: 27%;
        background-repeat: no-repeat;
    }
    .img1{
        height: 20px;
        width: 53px;
    }
    .img2{
        height: auto;
        width: 25px;
    }
    
    .fea_container1{
        color: white;
        font-size: 10px;
    }
    .get_yours{
        font-size: 8px;
        text-decoration: underline;
    }
    #shop_product{
        border: 1px solid white;
      background-color: #143324;
      width: 100px;
      color: white;
      height: auto;
      size: 7px;
      padding-top: 5px;
      padding-bottom: 5px;
     border-top-left-radius: 12px;
     border-bottom-right-radius: 12px;
      font-size: 7px;
    }
    #shop_product:hover{
        border-top-left-radius: 0;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 0;
    }
    .fea_container_text1{
        font-size: 7px;
        color: white;
        font-weight: bold;
    }
    .fea_container_text2{
        font-size: 8px;
        color: white;
    }
    .parallax_container{
        padding-right: 20px;
    }
    .con2{
        padding-right: 18px;
    }
    @media (max-width: 390px){
    
        .container1_featured {
            padding-left: 34px;
        }
        .parallax-image {
            width: 140px;
        }
    }    