.promo_container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.promo_images{
    width: 203px;
    /* flex: 4 1; */
    height: 190px;
}
.promo_individual{
    display: flex;
    position: relative;
}
.overlay{
    position: absolute;
    color: white;
    top:5px;
    left: 5px;
    margin: unset;
    font-size: 8px;

}
.overlay1{
    position: absolute;
    color: white;
    top:158px;
    left: 5px;
    margin: unset;
    font-size: 4px;
    text-decoration: underline;
    padding-bottom: 20px;
}